.jumbotron-content {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.6);

  height: 25rem;
  color: white
}

.jumbotron-content h1 {
  font-size: 3rem;
  margin: 1rem;
}

.jumbotron-content h2 {
  font-size: 1.1rem;
}

@media (min-width: 1200px) {

  .jumbotron-content h1 {
    font-size: 4rem;
  }

  .jumbotron-content h2 {
    font-size: 1.5rem;
  }
  

}



