.section {
  text-align: center;
  color: black;
}

.content {
  padding-top: 5rem;
  padding-bottom: 5rem;
  margin-right: auto;
  margin-left: auto;
  max-width: 75%;
}

.content h1 {
  margin: 0;
}

.content p {
  text-align: center;
  color: #696969;
  padding-top: 1rem;
  padding-bottom: 2rem;
  line-height: 2.2;
  font-size: 1rem;
}

@media (min-width: 1200px) {
  .content {
    max-width: 1150px;
  }
}
