.inverse {
  color: white;
}

.normal p {
  color: #696969;
}


/* center configue */
.alignment-center {
  text-align: center;
}

/* half-half on smaller screen */
.alignment-half-half {
  text-align: center;
}
.alignment-half-half img {
  padding-top: 10%;
  height: 50%;
  width: 50%;
}

.content {
  padding-top: 5rem;
  padding-bottom: 5rem;
  margin-right: auto;
  margin-left: auto;
  max-width: 75%;
}

.content h1 {
  margin: 0;
  padding-bottom: 1rem;
}

.content p {
  padding-bottom: 2rem;
  line-height: 2.2;
  font-size: 1rem;
}

@media (min-width: 1200px) {
  .content {
    max-width: 1150px;
  }

  /* half half configue */
  .alignment-half-half {
    display: flex;
    text-align: justify;
  }

  .alignment-half-half p {
    padding-right: 6vw;
  }

  .alignment-half-half img {
    padding-top: 0;
    height: 100%;
    width: 400px;
  }


  
}
