.main-header {
  width: 100%;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  background: #000000;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.26);
  padding: 0 2rem;
  z-index: 5;
}

main {
  margin-top: 10rem;
}

/* Below code runs until window below 768px */
@media (min-width: 859px) {
  .main-header {
    justify-content: center;
    padding: 0 5rem;
  }
}
