.header-drawer {
  margin: 1rem;
  font-weight: bold;
  padding-bottom: 1rem;
  color: 	white;
  text-align: center;
}

.header {
  display: flex;
  right: 1.5rem; 
  position:absolute;
}

@media (min-width: 1200px) {
  .header {
    margin-left: 23rem;
    right: 0;
    position: relative;
  }
}





