.second-header {
  width: 100%;
  display: flex;
  align-items: center;
  position: fixed;
  margin: 0;
  left: 0;
  top: 0;
  height: 2rem; 

  justify-content: space-between;
  padding: 0;

  background: #202020;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.26);
  z-index: 5;
}

.second-header p {
  color: 	#8c8c8c;
  display: block;
  margin-left: 0;
}


/* Below code runs until window below 859px */
@media (min-width: 859px) {
  .second-header {
    padding: 0 15vw;
  }

  .second-header p {
    margin: 1rem;
  }

}
