.makeStyles-content-5 .MuiGrid-item {
  margin-top: 5rem;
}

.MuiToolbar-root h6 {
  padding-left: 1rem;
  margin-top: 3%;
  color: black;
  font-size: 2rem;
  font-weight: bold;
}

.MuiPaper-root table {
  width: 98%;
  margin-left: auto;
  margin-right: auto;
}


.MuiPaper-root .MuiTableCell-head {
  background-color: #D9D9D9;
}

.MuiTableRow-root td:nth-child(2) {
  font-weight: bold;
  font-size: 1.1rem;
}

.MuiTableCell-head span{
  font-weight: bold;
  font-size: 1.0rem;
}


.MuiTableBody-root td{
  font-size: 1.1rem;
}

.MuiTableCell-footer .MuiTablePagination-root {
  margin-left: auto;
  margin-right: auto;
}

